.container {
    margin: 50px 10%;
}

.img {
    background-color: whitesmoke;
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.columnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 3% 0;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 400px;
}

.column div {
    font-size: 20px;
    margin: 2% 0;
}

.btnBlue {
    background-color: #3C5095;
    color: white;
}

.btnRed {
    background-color: #BE0524;
    color: white;
}

.btnYellow {
    background-color: #FDE841;
    color: white;
}

.btnLightBlue {
    background-color: #7BB9C8;
    color: white;
}

.btnGray {
    background-color: #9C9B96;
    color: white;
}

.btnWhite {
    background-attachment: #FFFFFF;
    color: black;
}

.btnOrange {
    background-color: #CF671E;
    color: white;
}

.sizeRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.sizeRow i {
    height: 40px;
    width: 40px;
}

.sizeRow select {
    width: 100%;
}

.addBtn {
    background-color: black;
    width: 100%;
    margin-top: 5%
}